---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

On this page, you can find <i>some</i> of the figures in my published works. I've only included the most important, most insightful, or (sometimes) the coolest looking figures on this page.
If you're looking for real details on the science, you should either read the paper of shoot me an email!

<hr style="height:10px;background-color:black">

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

