---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h3>A Note on Pedagogy</h3>
<p>
  Physics is a beautiful subject, but one with an insidious reputation for being difficult, abstract, and unapproachable. That
  perception has not been helped by our long tradition of teaching our subject with only the most traditional learners in mind. In its modern
  manifestation, physics is a highly collaborative endeavour (especially in the age of super-experiments); however, we still teach physics as
  if each student should seek to become the "lone genius" of the field. This mix of rigid teaching standards, toxic pedagogical culture, and
  and competitiveness has created a crisis in physics teaching which must be resolved by the next generation of instructors.
</p>

<p>
  In an effort to contribute to the necessary paradigm shift in physics pedagogy, I have made a priority of participating in (and leading) pedagogical
  initiatives within and beyond my department. Within the physics department at the University of Utah, I am the chair and founder of the <a hfre="https://www.physics.utah.edu/events/student-lecture-series/">Student Lecture Series </a> (SLS),
  which seeks to provide a conduit for pedagogical learning and exploration beginning at the undergraduate level. I have also presented science communication / public talks
  on a variety of settings. Our department has developed an Astro-On-Tap program which I have been fortunate to participate in, and I am also
  very passionate about the creation of science communication videos on my YouTube channel.
</p>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
